[submodule "src/archiveUtils/zipLib"]
	path = src/archiveUtils/zipLib
	url = https://bitbucket.org/wbenny/ziplib.git
[submodule "test/googleTest"]
	path = test/googleTest
	url = https://github.com/google/googletest.git
